body
{
  perspective: 750px;
  transform-style: preserve-3d;
}

.Titre
{
  color: gold;
}

.Refrain
{
  color: gold;
  padding-left: 60px;
}

.facebook
{
  color: red;
  font-size: 60px;
  transition: 10s;
}

.groupe
{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  width: 70%;
  height: 50vh;
}

.Wow
{
  text-align:center;
}


nav.MenuCube ul li
{
  display: inline-flex;
  text-shadow: purple 3px px;
  color: red;
}

.LienIvan
{
font-size: 40px;

}

.cube
{
  width: 5em;
  height: 5em;
  transform-style: preserve-3d;
  transition: 5s;
}

.cube div
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  border: 1px black solid;
  transform-style: preserve-3d;
  opacity: 0.8;
}

.cube .avant
{
  transform: translateX(0) translateZ(5em) rotateY(0deg);
}

.cube .droite
{
  transform: translateX(2.5em) translateZ(2.5em) rotateY(90deg);
}

.cube .gauche
{
  transform: translateX(-2.5em) translateZ(2.5em) rotateY(90deg);
}

.cube .arriere
{
  transform: translateX(0) translateZ(5em) rotateY(0deg);
}

.cube .haut
{
  transform: translateY(-2.5em) translateZ(2.5em) rotateX(90deg);
}

.cube .bas
{
  transform: translateY(2.5em) translateZ(2.5em) rotateX(90deg);
}
