body
{
  background-color: blue;
  perspective: 500px;
}

.Titre
{
  color: gold;
}

.Refrain
{
  color: gold;
  padding-left: 60px;
}

.facebook
{
  color: red;
  font-size: 60px;
  transition: 10s;
}

.cube div
{
  width: 5em;
  height: 5em;
  background-color: grey;
  border: 1px black solid;
}
